# DIY
target/

# svn
.svn/
# Linux System
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Windows System
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# OSX System
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio


## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
# Intellij
*.iml
*/*.iml

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# JAVA
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

logs/
zcy-datacenter/.idea/
/data2/.gitignore
/fescar-demo/.gitignore
/hystrix-demo/.gitignore
/juc-demo/.gitignore
/monitor/.gitignore
/quartz-demo/.gitignore
/sc-demo/.gitignore
/sentinel-demo/.gitignore
/sort-demo/.gitignore
/md/go/入门教程/1.go环境搭建.md
/md/go/入门教程/2.基本命令介绍.md
/md/go/入门教程/3.hello_world.md
/md/go/入门教程/4.常量与变量.md
/md/go/入门教程/5.流程控制.md
/md/go/入门教程/6.数组、切片、map.md
/md/go/入门教程/7.接口与结构体.md
/md/go/入门教程/8.并发.md
/md/go/入门教程/9. 性能排查 pprof.md
/tree-demo/src/main/resources/application.properties
/tree-demo/src/main/java/com/hzx/tree/avl/AVLTree.java
/bounded-buffer-problem/src/main/java/com/hzx/bbp/BbpQueue.java
/bounded-buffer-problem/src/main/java/com/hzx/bbp/case1/BbpQueue1Impl.java
/bounded-buffer-problem/src/main/java/com/hzx/bbp/case2/BbpQueue2Impl.java
/bounded-buffer-problem/src/main/java/com/hzx/bbp/case3/BbpQueue3Impl.java
/tree-demo/src/main/java/com/hzx/tree/test/ChildB.java
/md/tcp/CLOSE_WAIT .md
/yongzhong-demo/src/main/java/com/hzx/yz/controller/CommonController.java
/bounded-buffer-problem/src/main/java/com/hzx/bbp/Consumer.java
/md/docker/docker tag and push.md
/md/业务学习/dubbo-proxy.md
/md/dubbo/dubbo容错机制.md
/md/etcd/etcd命令行.md
/exam/src/main/java/com/huawei/Exam.java
/exam/src/main/java/com/huawei/Exam2.java
/exam/src/main/java/com/huawei/Exam3.java
/exam/src/main/java/com/huawei/Exam4.java
/fescar-demo/src/test/java/com/hzx/fescar/FescarDemoApplicationTests.java
/test-demo/src/main/java/com/hzx/test/FileUtil.java
/md/天池/filter.md
/md/go/go 垃圾回收.md
/md/grpc/grpc的四种调用方式.md
/agent-test/src/main/java/com/hzx/agent/Hello.kt
/md/go/int 2 string.md
/md/IO/IO 模型初解.md
/md/IO/IO多路复用原理.md
/md/face/jian修改.md
/sort-demo/src/main/java/com/hzx/sort/exam/LargeDataSort.java
/md/linux/linux系统状态查看.md
/design-demo/src/main/java/singleton/Main.java
/nowcoder/src/main/java/com/hzx/nowcoder/jifujunzheng/Main.java
/nowcoder/src/main/java/com/hzx/nowcoder/max_num_str/Main.java
/nowcoder/src/main/java/com/hzx/nowcoder/qishuiping/Main.java
/nowcoder/src/main/java/test/Main.java
/tree-demo/src/main/java/com/hzx/tree/Main.java
/data/.mvn/wrapper/maven-wrapper.jar
/data2/.mvn/wrapper/maven-wrapper.jar
/fescar-demo/.mvn/wrapper/maven-wrapper.jar
/hystrix-demo/.mvn/wrapper/maven-wrapper.jar
/juc-demo/.mvn/wrapper/maven-wrapper.jar
/monitor/.mvn/wrapper/maven-wrapper.jar
/quartz-demo/.mvn/wrapper/maven-wrapper.jar
/sc-demo/.mvn/wrapper/maven-wrapper.jar
/sentinel-demo/.mvn/wrapper/maven-wrapper.jar
/skywalking-demo/consumer-demo/.mvn/wrapper/maven-wrapper.jar
/skywalking-demo/producer-demo/.mvn/wrapper/maven-wrapper.jar
/sort-demo/.mvn/wrapper/maven-wrapper.jar
/tree-demo/.mvn/wrapper/maven-wrapper.jar
/data/.mvn/wrapper/maven-wrapper.properties
/data2/.mvn/wrapper/maven-wrapper.properties
/fescar-demo/.mvn/wrapper/maven-wrapper.properties
/hystrix-demo/.mvn/wrapper/maven-wrapper.properties
/juc-demo/.mvn/wrapper/maven-wrapper.properties
/monitor/.mvn/wrapper/maven-wrapper.properties
/quartz-demo/.mvn/wrapper/maven-wrapper.properties
/sc-demo/.mvn/wrapper/maven-wrapper.properties
/sentinel-demo/.mvn/wrapper/maven-wrapper.properties
/skywalking-demo/consumer-demo/.mvn/wrapper/maven-wrapper.properties
/skywalking-demo/producer-demo/.mvn/wrapper/maven-wrapper.properties
/sort-demo/.mvn/wrapper/maven-wrapper.properties
/tree-demo/.mvn/wrapper/maven-wrapper.properties
/data/.mvn/wrapper/MavenWrapperDownloader.java
/data2/.mvn/wrapper/MavenWrapperDownloader.java
/fescar-demo/.mvn/wrapper/MavenWrapperDownloader.java
/juc-demo/.mvn/wrapper/MavenWrapperDownloader.java
/monitor/.mvn/wrapper/MavenWrapperDownloader.java
/quartz-demo/.mvn/wrapper/MavenWrapperDownloader.java
/sc-demo/.mvn/wrapper/MavenWrapperDownloader.java
/skywalking-demo/consumer-demo/.mvn/wrapper/MavenWrapperDownloader.java
/skywalking-demo/producer-demo/.mvn/wrapper/MavenWrapperDownloader.java
/sort-demo/.mvn/wrapper/MavenWrapperDownloader.java
/tree-demo/.mvn/wrapper/MavenWrapperDownloader.java
/stream-demo/src/main/java/com/hzx/MethodDemo.java
/test-demo/src/main/java/com/hzx/test/MinioTest.java
/data/mvnw
/data2/mvnw
/fescar-demo/mvnw
/hystrix-demo/mvnw
/juc-demo/mvnw
/monitor/mvnw
/quartz-demo/mvnw
/sc-demo/mvnw
/sentinel-demo/mvnw
/tree-demo/mvnw
/data/mvnw.cmd
/data2/mvnw.cmd
/fescar-demo/mvnw.cmd
/hystrix-demo/mvnw.cmd
/juc-demo/mvnw.cmd
/monitor/mvnw.cmd
/quartz-demo/mvnw.cmd
/sc-demo/mvnw.cmd
/sentinel-demo/mvnw.cmd
/tree-demo/src/main/java/com/hzx/tree/NameList.java
/netty-demo/src/main/java/com/hzx/netty/redis_example/NamingThreadFactory.java
/md/shell命令/nslookup.md
/nowcoder/src/main/java/exam/One.java
/tree-demo/src/main/java/com/hzx/tree/test/ParentA.java
/bounded-buffer-problem/pom.xml
/exam/pom.xml
/quartz-demo/pom.xml
/test-demo/pom.xml
/transactional-demo/pom.xml
/yongzhong-demo/pom.xml
/tree-demo/src/main/java/com/hzx/tree/PrintNum.java
/bounded-buffer-problem/src/main/java/com/hzx/bbp/Producer.java
/netty-demo/src/main/java/com/hzx/netty/redis_example/RedisHandler.java
/netty-demo/src/main/java/com/hzx/netty/redis_example/RedisInitializer.java
/netty-demo/src/main/java/com/hzx/netty/redis_example/RedisServer.java
/sc-demo/src/test/java/com/hzx/sc/ScDemoApplicationTests.java
/tree-demo/src/main/java/com/hzx/tree/Single.java
/tree-demo/src/main/java/com/hzx/tree/StringTest.java
/md/tcp/tcp_close.png
/md/tcp/tcp扫盲.md
/tree-demo/src/main/java/com/hzx/tree/Test.java
/sort-demo/src/main/java/com/hzx/sort/TestClass.java
/monitor/src/main/java/com/hzx/monitor/rest/TestController.java
/Leetcode/src/main/java/com/hzx/TestFor.java
/Leetcode/src/main/java/com/hzx/TestString.java
/md/tcp/TIME_WAIT .md
/netty-demo/src/main/java/com/hzx/netty/time/TimeClient.java
/netty-demo/src/main/java/com/hzx/netty/time/TimeClientHandler.java
/netty-demo/src/main/java/com/hzx/netty/time/TimeServer.java
/netty-demo/src/main/java/com/hzx/netty/time/TimeServerHandler.java
/nowcoder/src/main/java/exam/TreeParentNode.java
/tree-demo/src/test/java/com/hzx/tree/TreeTest.java
/tree-demo/src/main/java/com/hzx/tree/Trie.java
/tree-demo/src/test/java/com/hzx/tree/TrieTest.java
/sort-demo/src/test/java/com/hzx/sort/TTest.java
/md/业务学习/web-file.md
/yongzhong-demo/src/main/java/com/hzx/yz/YzApplication.java
/md/事务验证.xlsx
/md/业务学习/分布式事务.md
/md/IO/同步异步、阻塞非阻塞.md
/other-file/picture/io/多路复用select实现.png
/md/对象存储之minio简介.md
/other-file/picture/io/对象存储之minio简介.pdf
/md/房子.md
/md/秒杀.md
/md/IO/简.md
/md/face/聊天.md
/md/face/自我介绍.md
/md/IO/零拷贝技术.md
/md/face/面试题.md
/md/业务学习/领券优化.md
